body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
 justify-content: center;
 align-items: center;
width: 100%;

}
button {
  min-width: 120px;   /* empty buttons stay wide */
  height: 40px;
  padding: 0 10px;    /* spacing for text */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.winner{
  padding: 10px 20px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
  text-align: center;
}
.restart{
  padding: 10px;
  margin: 0 auto;
}